[Unit]
Description=Promtail service
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
ExecStart=/usr/local/bin/promtail -config.file /usr/local/bin/promtail-config.yaml

[Install]
WantedBy=multi-user.target