global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# Scrape configurations
scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

{% for host in groups['fullnodes'] %}
  - job_name: "fullnode-{{ loop.index0 }}"
    static_configs:
      - targets: ["{{ hostvars[host]['ansible_host'] }}:9100", "{{ hostvars[host]['ansible_host'] }}:26660"]
{% endfor %}

{% for host in groups['validators'] %}
  - job_name: "valnode-{{ loop.index0 }}"
    static_configs:
      - targets: ["{{ hostvars[host]['ansible_host'] }}:9100", "{{ hostvars[host]['ansible_host'] }}:26660"]
{% endfor %}










