[Unit]
Description=IPFS-Cluster Daemon
Requires=ipfs
After=syslog.target network.target remote-fs.target nss-lookup.target ipfs
[Service]
Type=simple
ExecStart={{ user_home }}/go/bin/ipfs-cluster-service daemon --bootstrap /ip4/{{hostvars[groups['nodes'][0]].ansible_host}}/tcp/9096/p2p/{{ peer_id }}
User={{ansible_user}}
Restart=always
RestartSec=3
LimitNOFILE=4096
Environment="CLUSTER_SECRET={{ hostvars["node0"].cluster_secret }}"
[Install]
WantedBy=multi-user.target