{
    "chain_name": "local-testnet",
    "api": [
        {"address": "http://{{ hostvars[inventory_hostname].ansible_host }}:1317"}
    ],
    "rpc": [
        {"address": "http://{{ hostvars[inventory_hostname].ansible_host }}:26657"}
    ],
    "sdk_version": "{{ sdk_version }}",
    "coin_type": "118",
    "min_tx_fee": "800",
    "addr_prefix": "{{ addr_prefix }}",
    "logo": "/logos/cosmos.svg",
    "assets": [{
        "base": "{{ denom }}",
        "symbol": "ATOM",
        "exponent": "6", 
        "logo": "/logos/cosmos.svg"
    }]
}