[Unit]
Description=Validator Cosmovisor
After=network-online.target

[Service]
User={{ ansible_user }}
WorkingDirectory={{ user_home }}
ExecStart={{ user_home }}/go/bin/cosmovisor run start \
  --home {{ user_home }}/{{ node_home }} \
  --x-crisis-skip-assert-invariants
Restart=always
RestartSec=3
LimitNOFILE=65536
Environment="DAEMON_NAME={{ daemon }}"
Environment="DAEMON_HOME={{ user_home }}/{{ node_home }}"
Environment="DAEMON_ALLOW_DOWNLOAD_BINARIES=false"
Environment="DAEMON_RESTART_AFTER_UPGRADE=true"
Environment="PATH=/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin:/usr/local/go/bin:{{ user_home }}/go/bin"

[Install]
WantedBy=multi-user.target
